# Secrets
*KEY
WANDB_APIKEY
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Outputs & artifacts
weights/
checkpoints/
out/
evaluation_results/
logs/*.out
logs/*.err
*.pth

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Build
build/
